@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
*{
    margin:0;
    padding:0;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    height: 100vh;
    line-height: 1.6;
}
.A-sq{
  height: 70px;
  width: 70px
}
.first{
  background:
        linear-gradient(yellow, transparent),
        linear-gradient(to top left, black, transparent),
        linear-gradient(to top right, white, transparent);
    background-blend-mode: screen;
}
.navbar {
  padding: 0 0 1rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* section home */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;

    /* Scroll Snap */
    scroll-snap-align: center;
}

section#home{
    background:url("dogsmile.png") no-repeat center center/cover;
}
.home{
  text-align: right;
}
section h1{
    font-size: 4rem;
    color:#ffffff;
    font-family: arvo;
}
h2{
    font-family: arvo;
    text-align: center;
    position:relative;
    top:25px;
    letter-spacing: 2px;
}
.white-section {
  background-color: #fff;
}
.container-fluid{
  padding: 7% 10%;
}
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: black;
  margin-bottom: 1rem;
}

.icon:hover {
  color: red;
}

.main{
    text-align:center;
    margin-top:30px;
    line-height: 40px;
}
.button{
    background-color: yellow;
    border: none;
    color: black;
    align-items: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
}

footer{
    color:black;
}
footer p{
    text-align: center;
}
@media(max-width:834px){
  .A-sq{
    float: inherit;
    height: 60px;
    width: 60px;
    position: static;
  }
}
